@import url('https://fonts.googleapis.com/css?family=Lato|Lustria');

body {
    font-family: 'Lustria', serif;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 70px;
    background-color: #f5f6f7;
}
p, a {
    font-family: 'Lato', sans-serif;
}

/*.button {
    background: #09e;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .5em 1.5em;
    text-shadow: 0 1px 3px rgba(0,0,0,.75);
    transition: background-color .3s ease-in-out;
}
.button:hover {
    background: #07c;
}*/
.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #402e51;
    /*border-bottom: 2px solid #ccc;*/
    height: 70px;
    opacity: .8;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    z-index: 1000000;
}
header.scrolling {
    background-color: #402e51;
    opacity: 1;
}

.navigation {
    height: 70px;
    display: flex; /* make this a flexbox container */
    justify-content: space-between; /* place our items as far apart from each other as possible */
    align-items: center; /* vertically align items */
}

.brand {
    color: transparent;
    background: url(../images/RIGHTCOMPLY-logo.png) no-repeat;
    background-size: cover;
    height: 35px;
    width: 205px;
    float: left;
    overflow: hidden;
}
.menu {
    display: flex;
    align-items: stretch;
    height: 70px;
}
.menu-link {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: white;
}
.menu-link:hover {
    /*background: #65ba7d;*/
    color: #92af1f;
    cursor: pointer;
}
.demo, .getstarted {
  padding: 5px 15px;
  color: #92af1f;
  border: 2px solid #92af1f;
  margin-top: 20px;
  margin-left: 20px;
}
.demo:hover, .getstarted:hover {
  color: white;
  background-color: #92af1f;
}
.getstarted {
  padding: 10px 15px;
}
.hero {
    /*background: url(../images/zebra-hero.jpg) center;*/
    background-color: lightgrey;
    height: 600px;
    width: 100%;
    color: white;
    text-align: center;
    min-height: 350px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-headline1, .hero-headline2 {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.hero-headline2 {
  margin-left: 2em;
}
#column-text{
  position: relative;
  width: 100%;
  color: black;
  padding: 5%;
}
section {
  max-height: 500px;
}
.column-text:hover {
  background-color: #92af1f;
  transition: .2s;
}
.column-text:hover h2{
  transition: .8s;
  color: white;
  }
&:hover{
  cursor: pointer;
}
.hide, .hero-action {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: .5em;
  margin-top: .5em;
  transition: display linear .8s;
}
.hide:hover {
  transition: .8s;
  color: white;
}

.hide h2, p{
  color: white;
}
.main-content {
  text-align: center;
}
.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin: 0 -10px;*/
    margin-top: 7em;
}
.column {
    /*flex: 1 1 50%;*/
    height: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    /*padding: 0 10px;*/
}
.column-headline {
    margin-top: 1.5em;
    font-size: 3.2em;
    color: #92af1f;
}
.column-headline:hover {
    font-size: 3.2em;
    color: white;
}
.column-three {
  flex: 1 1 33.33%;
  padding: 0 40px;
}
.column-image {
  width: 60%;
}
.column-text {
  width: 40%;
  position: relative;
}
/*.column-image {
    width: 130px;
    border-radius: 50%;
    border: 10px solid #ddd;
    transition: transform .3s ease-in-out;
}*/
/*.column-image:hover {
    transform: rotate(-10deg);
}*/
.column-headline-three {
  margin-top: 2em;
  font-size: 3em;
  color: white;
  padding: 20px 10px;
  background-color: #402e51;
}
.column-container-three {
  margin-top: 0;
  background-color: white;
  border: 1px solid lightgrey;
}
.column-title {
    margin-top: 2em;
    font-size: 2em;
    color: #92af1f;
}
.column-content {
    margin-top: 1.5em;
    margin-bottom: 3em;
    color: black;
}
.row-container {
  background-color: #402e51;
  color: white;
  text-align: center;
  padding: 25px 10px;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.row-headline{
  font-size: 3em;
}
.row-text {
  font-size: 1.5em;
}
hr {
  margin-top: 7em;
}
.footer {
    color: grey;
    display: flex; /* make this a flexbox container */
    justify-content: space-between; /* place our items as far apart from each other as possible */
    align-items: center; /* vertically align items */
}
.menu-link-footer {
  color: grey;
}

@media screen and (max-width: 978px) {
    .column-container {
        margin: 0 auto;
        padding: 0 10px;
    }
    .column-image {
      width: 100%;
    }
    .column-text {
      width: 100%;
    }
    .column + .column {
        margin-bottom: 4em;
        padding-top: 2em;
        border-bottom: 1px dashed #ccc;
    }
    .column-container-three {
      margin-bottom: 4em;
      border-bottom: 1px dashed #ccc;
    }
}

@media screen and (max-width: 700px) {
    .column-container {
        display: block;
        padding: 0;
        /*max-width: 25em;*/
        width: 100%;
    }
}
